* {
    /* margin-left: 2rem; */
    background-color: rgb(48, 48, 50);
    color: #fff;
}

button {
    padding: .5rem 2rem;
    background: #090e70;
    font-size: 1rem;
    border: none;
    display: block;
    margin-top: 2rem;
}

#container {
    width: 400px;
    height: 200px;
    border: 2px solid rgb(201, 255, 4);
    margin-bottom: 2rem;
}

#hexa-code {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: serif;
    background: #ffffff;
    padding: 10px;
    color: purple ;
}